.profile {
    min-height: 100vh;
    background: url(/bgapp.jpg) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container {
    background: radial-gradient(#5d4157,#a8caba);
    opacity: 95%;
    display: flex;
    align-items: center;
    gap: 40px;
    min-width: 650px;
    padding: 20px;
    border-radius: 10px;
}

.profile-pic {
    max-width: 150px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

.profile form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.profile form h3 {
    font-weight: 500;
}

.profile label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(74, 74, 74);
    cursor: pointer;
}

.profile label img {
    width: 70px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.profile input,
.profile textarea {
    padding: 10px;
    min-width: 300px;
    border: 1px solid #c9c9c9;
    outline-color: rgb(95, 95, 227);
}

.profile form button {
    border: none;
    color: whitesmoke;
    background: #077eff;
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
}
